<?xml version="1.0" encoding="utf-8" ?>
<!-- Proxy config is used to set the ArcGIS Server services that the proxy will forward to.
        
        mustMatch: true to only proxy to sites listed, false to proxy to any site -->
<ProxyConfig mustMatch="true">
    <serverUrls>
        <!-- serverUrl options:
            url = location of the ArcGIS Server, either specific URL or stem
            matchAll = true to forward any request beginning with the url
            token = (optional) token to include for secured service
            dynamicToken = if true, gets token dynamically with username and
              password stored in web.config file's appSettings section.
    -->
        <serverUrl url="http://sampleserver1.arcgisonline.com/arcgis/rest/services/"
                   matchAll="true"></serverUrl>
        <serverUrl url="http://sampleserver2.arcgisonline.com/arcgis/rest/services/"
                   matchAll="true"
                   token=""></serverUrl>
        <serverUrl url="http://server.arcgisonline.com/arcgis/rest/services/"
                   matchAll="true"></serverUrl>
        <serverUrl url="http://orthogonal.esri.com/arcgis/rest/services/"
                   matchAll="true"></serverUrl>
        <serverUrl url="http://hummer/ArcGIS/rest/services"
                   matchAll="true"
                   dynamicToken="true"
               ></serverUrl>
        <!--ADDITIONAL-->
        <!--Same as server.arcgisonline-->
        <serverUrl url="http://services.arcgisonline.com/arcgis/rest/services/"
                   matchAll="true">
        </serverUrl>
        <serverUrl url="http://tasks.arcgisonline.com/ArcGIS/rest/services/"
                   matchAll="true">
        </serverUrl>
        <serverUrl url="http://explorer.arcgis.com/arcgis/rest/services/"
                   matchAll="true">
        </serverUrl>
        <!--ArcGIS Online Utility for KML layer loading-->
        <serverUrl url="http://utility.arcgis.com/sharing"
                   matchAll="true">
        </serverUrl>
        <!--ArcGIS Online base maps thru JSAPI Basemap Gallery digit-->
        <serverUrl url="http://www.arcgis.com/sharing"
                   matchAll="true">
        </serverUrl>
        <!--NOT/search?f=json&t=content-->
        <!--NOAA Raster Nautical Charts base map service-->
        <serverUrl url="http://egisws02.nos.noaa.gov/ArcGIS/rest/services/"
                   matchAll="true">
        </serverUrl>
        <!--OpenStreetMap OSM tiles-->
        <serverUrl url="http://a.tile.openstreetmap.org//"
                   matchAll="true">
        </serverUrl>
        <serverUrl url="http://b.tile.openstreetmap.org//"
                   matchAll="true">
        </serverUrl>
        <serverUrl url="http://c.tile.openstreetmap.org//"
                   matchAll="true">
        </serverUrl>
        <!--BING Maps thru AGOL Adaptor-->
        <serverUrl url="http://serverapi.arcgisonline.com/veadaptor/production/services/"
                   matchAll="true">
        </serverUrl>
        <!--NAIP ImageServer-->
        <serverUrl url="http://imaps.dfg.ca.gov/arcgis/rest/services/"
                   matchAll="true">
        </serverUrl>
        <serverUrl url="http://arcdev.ad.dfg.ca.gov/arcgis/rest/services/"
                   matchAll="true"
                   token="rfzXNEfcamWHKH-eKDsrP44Vg_1zFnDfOiM-RA1wsdCRGgeS9UBmNFxScv19-_sHRVVHGFuDKXNnPrwSGeaw3g..">
        </serverUrl>
        <serverUrl url="http://arctest.ad.dfg.ca.gov/arcgis/rest/services/"
                   matchAll="true"
                   token="3V-LffAHSSTsDfMiOhRhZPdE4m8rh68idpJwMdtjz8kaBnMtaKs-7oTnqlGT2oenporH2rpZ8apwE8IgJoN_GQ..">
        </serverUrl>
        <serverUrl url="https://map.dfg.ca.gov/arcgis/rest/services/"
                   matchAll="true"
                   token="vunnRiLsrdTODPmkajyu4KZpkGxSk9n10HhjDwyfkBUNF3D1Q1q5UrnL7rHYNZbqWrVZcoD2NR6A6XrhvQYK-Q..">
        </serverUrl>
    </serverUrls>

</ProxyConfig>
